body {
    background-color: black;
    color: white;
    text-align: center;
}

h1, h2, h3 {
    background-color: white;
    color: red;
}

.ul, .ol {
    display: inline-block;
    text-align: left;
}
